@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @font-face {
    font-family: 'NeuMontrealRegular';
    src: url('./assets//font/NeueMontreal-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'NeuMontrealRegular', sans-serif;
}
